<main>
  <p>Seems like you forgot your password for
    <b>Gaming Mafia</b>. If you want to reset your password click below button.</p>
  <a href="{{link}}">
    <button class="btn">Reset Password</button>
  </a>
  <p>The above link expires in 15 minutes.If you did not request for password
    reset you can safely ignore this email.
  </p>
</main>